fastapi[standard]
uvicorn[standard]
sqlalchemy
pydantic
qdrant-client
python-dotenv
sentence_transformers
torch
pypdf
langchain
# Modern split wheels  (recommended)
langchain-core>=0.1.0
langchain-community>=0.1.0
pathlib
langchain-huggingface>=0.0.3
