fastapi[standard]
uvicorn[standard]
sqlalchemy
pydantic
qdrant-client
python-dotenv
sentence_transformers
torch
pypdf
# Modern split wheels  (recommended)
pathlib
langchain
langchain-core>=0.1.0
langchain-community>=0.1.0
langchain-huggingface>=0.1.0
langchain-text-splitters
spacy==3.7.2